@page
@model TrainProjectWorkWebApp.Pages.ConfermDataSendModel
@{
    ViewData["Title"] = "Conferm Data Send";
}

<h1>TrainProjectWork</h1>
<h3>@Model.ResultStr</h3>

<br />
<button type="button" class="home">Home</button>
<br /><br />
<button type="button" class="logout">Logout</button>

<script type="text/javascript">
    //Logout
    var logoutList = document.getElementsByClassName("logout");
    logoutList[0].addEventListener("click", function() {

        var windowsLocArr = window.location.href
            var windowsLoc = windowsLocArr.split('ConfermDataSend')[0]
            console.log(windowsLoc)

            window.location.href = windowsLoc + "Index?handler=Logout"
            //window.location.href = "https://localhost:44305/Index?handler=Logout"
        });

        //Home
    var homeList = document.getElementsByClassName("home");
    homeList[0].addEventListener("click", function() {

        var windowsLocArr = window.location.href
            var windowsLoc = windowsLocArr.split('ConfermDataSend')[0]
            console.log(windowsLoc)

            window.location.href = windowsLoc + "Index"
            //window.location.href = "https://localhost:44305/Index";
        });
</script>