@page
@model TrainProjectWorkWebApp.Pages.SeeTrainModel
@{
    ViewData["Title"] = "See Train";
}

<h1>TrainProjectWork</h1>
<h3>See Train</h3>
<button type="button" class="logout right">Logout</button>
<button type="button" class="update left">Update</button>
<br /><br />

<table class="center">
    <tr>
    <th class="center width10">Nr° Train</th>
    <th class="center width10">Nr° Wagon</th>
    <th class="center width10">Conductor</th>
  </tr>
    @for (var i = 0; i < @Model.trainList.Count(); i++)
    {
            <tr class="center">

        <td class="openTrain center">@Model.trainList[i]["nrTrain"]</td>
        <td class="center">@Model.trainList[i]["nrWagon"]</td>
        <td class="center">@Model.trainList[i]["conductor"]</td>
        </tr>
    }
</table>

<script type="text/javascript">

    var docOpenTrainList = document.getElementsByClassName("openTrain");

    console.log(docOpenTrainList.length);

    for (let i = 0; i < docOpenTrainList.length; i++) {
        var docOpenTrain = docOpenTrainList[i];

        docOpenTrain.addEventListener("click", function() {

            var windowsLocArr = window.location.href
            var windowsLoc = windowsLocArr.split('SeeTrain')[0]
            console.log(windowsLoc)

            window.location.href = windowsLoc + "SeeWagon?handler=" + (i+1)
            //window.location.href = "https://localhost:44305/SeeWagon?handler=" + (i+1)
        });
    }

    //Logout
    var logoutList = document.getElementsByClassName("logout");
    logoutList[0].addEventListener("click", function() {

        var windowsLocArr = window.location.href
            var windowsLoc = windowsLocArr.split('SeeTrain')[0]
            console.log(windowsLoc)

            window.location.href = windowsLoc + "Index?handler=Logout"
            //window.location.href = "https://localhost:44305/Index?handler=Logout"
        });

        //Update Page
    var updateList = document.getElementsByClassName("update");
    updateList[0].addEventListener("click", function() {

        var windowsLocArr = window.location.href
            var windowsLoc = windowsLocArr.split('SeeTrain')[0]
            console.log(windowsLoc)

            window.location.href = windowsLoc + "SeeTrain";
            //window.location.href = "https://localhost:44305/SeeTrain";
        });
</script>